{% extends 'base.html' %} {% load static %} {% block titulo_da_guia %}
<title>JMcars - Home</title>
{% endblock %} {% block conteudo %} {% for home in valores %}

<!-- Begin Slider Area -->
<div class="slide-inner bg-height" data-bg-image="media/{{home.imagem_home}} ">
  <div class="container">
    <div
      class="slide-content text-white"
      data-aos="zoom-in"
      data-aos-duration="1500"
    >
      <h3 class="sub-title">{{ home.subtitulo_home }}</h3>
      <h2 class="title mb-3">{{ home.titulo_home }}</h2>
      <p class="short-desc different-width mb-10">{{ home.descricao_home }}</p>
      <div class="button-wrap">
        <a
          class="btn btn-custom-size lg-size btn-primary"
          href="#botao-saiba-mais"
          >SAIBA MAIS</a
        >
      </div>
      <div id="botao-saiba-mais"></div>
    </div>
  </div>
</div>
<!-- Slider Area End Here -->

<div id="botao-saiba-mais"></div>

<div class="background-img">
  <div class="inner-bg">
    <img
      src="{% static 'tromic/assets/images/background-img/inner-bg/1-1-496x566.png' %}"
      alt="Inner Background"
    />
  </div>
  <div class="banner-area section-space-top-100">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-4 col-md-6"
          data-aos="flip-left"
          data-aos-duration="1000"
        >
          <div class="banner-item img-hover-effect">
            <div class="banner-img img-zoom-effect">
              <img
                class="img-full"
                src="{{ home.imagem_quadrado_um.url }}"
                alt="Banner Image"
              />
              <div class="inner-content text-white">
                <h2 class="title mb-5">{{ home.titulo_quadrado_um }}</h2>
                <div class="button-wrap">
                  <a class="btn btn-custom-size btn-primary" href="shop.html"
                    >VER MODELOS</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-lg-4 col-md-6 pt-6 pt-md-0"
          data-aos="flip-left"
          data-aos-duration="1000"
        >
          <div class="banner-item img-hover-effect">
            <div class="banner-img img-zoom-effect">
              <img
                class="img-full"
                src="{{ home.imagem_quadrado_dois.url }}"
                alt="Banner Image"
              />
              <div class="inner-content text-white">
                <h2 class="title mb-5">{{ home.titulo_quadrado_dois }}</h2>
                <div class="button-wrap">
                  <a class="btn btn-custom-size btn-primary" href="shop.html"
                    >VER MODELOS</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-lg-4 col-md-6 pt-6 pt-lg-0"
          data-aos="flip-left"
          data-aos-duration="1000"
        >
          <div class="banner-item img-hover-effect">
            <div class="banner-img img-zoom-effect">
              <img
                class="img-full"
                src="{{ home.imagem_quadrado_tres.url }}"
                alt="Banner Image"
              />
              <div class="inner-content text-white">
                <h2 class="title mb-5">{{ home.titulo_quadrado_tres }}</h2>
                <div class="button-wrap">
                  <a class="btn btn-custom-size btn-primary" href="shop.html"
                    >VER MODELOS</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Begin Shipping Area -->
  <div class="shipping-area section-space-y-axis-100">
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
      <div
        class="shipping-bg"
        data-bg-image="{% static 'tromic/assets/images/shipping/bg/1-1-1280x202.jpg' %}"
      >
        <div class="row shipping-wrap py-5 py-xl-0">
          <div class="col-lg-4">
            <div class="shipping-item">
              <div class="shipping-img">
                <img
                  src="{% static 'tromic/assets/images/shipping/icon/plane.png' %}"
                  alt="Shipping Icon"
                />
              </div>
              <div class="shipping-content">
                <h2 class="title">{{ home.titulo_quadrado_grande_um }}</h2>
                <p class="short-desc mb-0">
                  {{ home.descricao_quadrado_grande_um }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 pt-4 pt-lg-0">
            <div class="shipping-item">
              <div class="shipping-img">
                <img
                  src="{% static 'tromic/assets/images/shipping/icon/earphones.png' %}"
                  alt="Shipping Icon"
                />
              </div>
              <div class="shipping-content">
                <h2 class="title">{{ home.titulo_quadrado_grande_dois }}</h2>
                <p class="short-desc mb-0">
                  {{ home.descricao_quadrado_grande_dois }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 pt-4 pt-lg-0">
            <div class="shipping-item">
              <div class="shipping-img">
                <img
                  src="{% static 'tromic/assets/images/shipping/icon/shield.png' %}"
                  alt="Shipping Icon"
                />
              </div>
              <div class="shipping-content">
                <h2 class="title">{{ home.titulo_quadrado_grande_dois }}</h2>
                <p class="short-desc mb-0">
                  {{ home.descricao_quadrado_grande_tres }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Shipping Area End Here -->
</div>

<!-- Begin Product Area -->
<div
  class="background-img"
  data-bg-image="{% static 'tromic/assets/images/background-img/1-2-1920x716.jpg' %}"
>
  <div class="product-area section-space-y-axis-100 product-arrow">
    <div class="container">
      <div
        class="section-title pb-55"
        data-aos="zoom-in-up"
        data-aos-duration="1000"
      >
        <h2 class="title mb-0">Veículos em Destaque</h2>
      </div>
      <div class="row" data-aos="zoom-in-up" data-aos-duration="1000">
        <div class="col-lg-12">
          <div class="swiper-container product-slider">
            <div class="swiper-wrapper text-heading">
              <div class="swiper-slide">
                <div class="product-item">
                  <div class="product-img img-zoom-effect">
                    <a href="shop.html">
                      <img
                        class="img-full"
                        src="{% static 'tromic/assets/images/product/medium-size/product-slider/1-1-290x350.jpg' %}"
                        alt="Product Images"
                      />
                    </a>
                  </div>
                  <div class="product-content">
                    <a class="product-name pb-1" href="shop.html"
                      >Auto Clutch & Brake</a
                    >
                    <div class="price-box">
                      <div class="price-box-holder">
                        <span>Price:</span>
                        <span class="new-price text-primary">$120.00</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Add Arrows -->
          <div class="product-button-wrap pt-10">
            <div class="product-button-prev">
              <i class="pe-7s-angle-left"></i>
            </div>
            <div class="product-button-next">
              <i class="pe-7s-angle-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Area End Here -->

<!-- Begin Banner Area -->
<div
  class="banner-area banner-style-2 section-border-y-axis section-space-y-axis-100"
  data-bg-image="media/{{ home.imagem_final_home }}"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner-content text-center text-white">
          <div data-aos="fade-right" data-aos-duration="1000">
            <span class="sub-title mb-2">{{ home.titulo_final_home }} </span>
          </div>
          <div data-aos="fade-right" data-aos-duration="1000">
            <h2 class="title mb-5">{{ home.subtitulo_final_home }}</h2>
          </div>
          <div
            class="button-wrap"
            data-aos="fade-right"
            data-aos-duration="1000"
          >
            <a
              class="btn btn-custom-size lg-size btn-primary"
              href="{{ home.link_botao_home }}"
              >{{ home.conteudo_botao_home }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Area End Here -->
{% endfor %} {% endblock %}
